
/* 這是您的客製化樣式，我們將背景顏色設為水藍色 */

body {
    /* 使用您指定的水藍色 */
    background: hsl(199, 57%, 95%) !important; 
}

/* 內容區塊（例如文章卡片）通常是白色，如果您想保持內容區塊不變，可以跳過此部分 */
.content-wrap {
    background:  hsl(199, 57%, 95%) ; /* 保持白色 */
}